.cards {
  display: flex;
  color: black;
  justify-content: space-around;
  margin-bottom: 100px;
}

.cards .card {
  padding-top: 10px;
  width: 100px;
  height: 200px;
  border-radius: 5%;
  color: black;
  border: 10px solid black;
  box-shadow: 10px gray;
  text-align: center;
}

.cards .card p {
  font-size: 10px;
}

.cards .card img {

  width: 50px;
}


